.skills__data {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}
.data__list {
    padding: 2rem;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 25px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 15px;
}